In [11]:
numbers = [1, 2, 3, 4, 5, 6]

for number in numbers:
    if (number%2) == 0:
        print(f"{number} is even")
    else:
        print(f"{number} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even

this code has separate the even number and odd number

In [13]:
numbers = [1, 2, 3, 4, 5, 6]
evens = [ ]
odds = [ ]

for number in numbers:
    if (number%2) == 0:
        evens.append(number)

for number in numbers:
    if (number%2) != 0:
        odds.append(number)

print(evens)
print(odds)

[2, 4, 6]
[1, 3, 5]

this code was print the even and odd number

In [14]:
numbers = [1, 2, 3, 4, 5, 6]
doubles = [ ]
for number in numbers:
    number *= 2
    doubles.append(number)
print(doubles)

[2, 4, 6, 8, 10, 12]

this code is even number only

In [17]:
numbers = [1, 2, 3, 4, 5, 6]

evens = [number for number in numbers if (number % 2) == 0]
odds = [number for number in numbers if (number % 2) != 0]

print(evens)
print(odds)

[2, 4, 6]
[1, 3, 5]

this code was separate the even and odd number

In [18]:
numbers = [1, 2, 3, 4, 5, 6]
doubles = [number * 2 for number in numbers]
print(doubles)

[2, 4, 6, 8, 10, 12]

in this code was the even number was double

In [19]:
name_lengths = []
names = ["alice","bob","carol"]
name_lengths = [len(name) for name in names]

print(name_lengths)

[5, 3, 5]

in this code is have a 3 name and length

In [26]:
record = ["alice", 5]

name, length = record
name, length= record

print(f"{name} have a length of {length}")

alice have a length of 5

in this code is only alice in her length

In [27]:
records = [ 
           
           ["alice", 5],
           ["bob", 3],
           ["carol", 5],
]

for name, length in records:
    print(f"{name} have a length of {length}")

alice have a length of 5
bob have a length of 3
carol have a length of 5

in this code alice and carol is they have a same length

In [32]:
names = ["alice", "bob", "carol"]
name_lengths = [5, 3, 5]

for name, length in  zip(names, name_lengths):
    print(f"{name}have a length of {length}")

print (zip(names, name_lengths))
print (list(zip(names, name_lengths)))

alicehave a length of 5
bobhave a length of 3
carolhave a length of 5
<zip object at 0x7f987c90b190>
[('alice', 5), ('bob', 3), ('carol', 5)]

In [31]:
names = ["alice", "bob", "carol", "marvin"]
name_lengths = [5, 3, 5]
genders = ["female", "male", "female"]
ages = [15, 22, 34]

for name, length, gender, age in zip(names, name_lengths, genders, ages):
    print(f"{name} have a length of {length}. they are {gender}. Ages are {age}")
print(filter)

alice have a length of 5. they are female. Ages are 15
bob have a length of 3. they are male. Ages are 22
carol have a length of 5. they are female. Ages are 34
<class 'filter'>